.json {
    font-size: 1rem;
    color: gray;
}

.json .key {
    color: dimgrey;
}

.json .string {
    color: lightcoral;
}

.json .number {
    color: limegreen;
}

.json .null {
    color: slategrey;
}

.json .boolean {
    color: royalblue;
}
